<div class="custom-dialog-wrapper">
  
  <mat-dialog-content>
    <form class="form-doc"  [formGroup]="myForm">
      <h2>Editar Información</h2>
      <br>
      <br>
      <h2>Tipo de Documento:</h2>
      <input
        formControlName="type"
        class="form-control"
        type="text"
        placeholder="Type"
      />
      <h2>Nombre del Documento:</h2>
      <input
        formControlName="name"
        class="form-control"
        type="text"
        placeholder="name"
      />
      <h2>Fecha de Expedición:</h2>
      <input
        formControlName="pqrFechaAdmision"
        class="form-control"
        id="pqrFecha"
        type="date"
        required=""
        (change)="SendDataonChange($event)"
      />
      <h2>Subir Archivo:</h2>
      <div class="mat-form-field">
        <input
        formControlName="file"
          class="file-input"
          type="file"
          name="archivoSeleccionado"
          (change)="onFileSelected($event)"
          required
        />
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button (click)="openDialog('0ms', '0ms')">
      Guardar
    </button>
  </mat-dialog-actions>
</div>
