<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">

  <div id="search" class="main">

    <c-navbar colorScheme="dark" expand="lg" class="bg-dark">
      <c-container fluid>
        <a cNavbarBrand href="https://coreui.io/angular/" target="_blank">
          Search
        </a>
        <button [cNavbarToggler]="collapseRef1"></button>
        <div #collapseRef1="cCollapse" navbar cCollapse>
          <c-navbar-nav class="me-auto mb-2 mb-lg-0">

            <c-dropdown variant="btn-group" direction="dropend">
              <button cButton cDropdownToggle>
                <i class="fa fa-bars" ></i>
                {{ selectedFirstFilter || 'Filtros' }}
              </button>
              <ul cDropdownMenu dark>
                <li *ngFor="let option of filterOptions">
                  <a cDropdownItem (click)="selectFirstFilter(option)">{{ option }}</a>
                </li>
              </ul>
            </c-dropdown>

            <c-dropdown *ngIf="selectedFirstFilter !== ''" variant="btn-group" direction="dropend">
              <button cButton cDropdownToggle>
                {{ selectedSecondFilter || 'Valor' }}
              </button>
              <ul cDropdownMenu dark>
                <li *ngFor="let option of getSecondFilterOptions()">
                  <a cDropdownItem (click)="selectSecondFilter(option);setRadioValue('filtrar')">{{ option }}</a>
                </li>
              </ul>
            </c-dropdown>

          </c-navbar-nav>


          <form cForm class="d-flex" role="search">

            <input cFormControl  type="search"  placeholder="Buscar Contrato" #input>
            <button cButton (click)="applyFilter(input)"><i-lucide name="search"></i-lucide> </button>
            <br>
            <button cButton (click)="setRadioValue('noFiltrar')">No filtrar </button>
          </form>
        </div>
      </c-container>
    </c-navbar>

    <br>
    <c-callout color="info" *ngIf="selectedFirstFilter && selectedSecondFilter">
      Filtrando los datos por :  {{ selectedFirstFilter }} | {{selectedSecondFilter}}
    </c-callout>




  <br>



  <br>

  <!-- table to display contracts on the contracts array  -->
  <table [striped]="true" cTable color="light" class="table-elevation">
    <thead>
      <tr>
        <th>
          <ng-container>
            <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">

            </mat-checkbox>
          </ng-container>
        </th>
        <th *ngFor="let column of displayedColumns" >{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contracts">
        <td>
          <ng-container>
            <mat-checkbox
            (click)="$event.stopPropagation();setIdContract(item.id)"
            (change)="$event ? selection.toggle(item) : null"
            [checked]="selection.isSelected(item)"
            [aria-label]="checkboxLabel(item)">

            </mat-checkbox>
          </ng-container>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.modality }}</td>
        <td>{{ item.contractType }}</td>
        <td>{{ item.reference }}</td>
        <td>{{ item.vendor}} </td>
        <td>{{ item.signingYear }}</td>

        <!-- <ng-container *ngIf="item.contractType.toLowerCase().includes(searchValue)">

          <td>
            <ng-container>
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(item) : null"
                [checked]="selection.isSelected(item)"
                [aria-label]="checkboxLabel(item)">
              </mat-checkbox>
            </ng-container>
          </td>
          <td>{{ item.id }}</td>
          <td>{{ item.modality }}</td>
          <td>{{ item.contractType }}</td>
          <td>{{ item.reference }}</td>
          <td>{{ item.signingYear }}</td>
        </ng-container> -->
      </tr>
    </tbody>
  </table>





  <app-paginador
    [totalElements]="totalElements"
    [pageSize]="pageSize"
    [totalPages]="totalPages"
    (pageChanged)="loadTableContracts($event)"
  ></app-paginador>


  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
</div>


