<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
  <button (click)="toggleSettingButton()" class="btn"><i class="fa fa-bars" ></i> Filtros </button>
  <br>

  <div class="selects-container" *ngIf="pressedSettingsButton">
    <!-- <div class="select-container"> -->
    <div class="content-select">

      <select id="filterSelect" [formControl]="filterControl">
        <option value="">Filtrar por:</option>
        <option *ngFor="let option of filterOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- <div *ngIf="filterControl.value !== ''" class="select-container"> -->
    <div *ngIf="filterControl.value !== ''" class="content-select">
     
      <select id="secondFilterSelect" [formControl]="secondFilterControl">
        <option value="">Valor: </option>
        <option *ngFor="let option of getSecondFilterOptions()" [value]="option">{{ option }}</option>
      </select>
    </div>

    <button (click)="filterData()">Filtrar</button>
  </div>


  <br>
  <table mat-table [dataSource]="contracts" class="mat-elevation-z8">
    <!-- Columna de selección -->
    <ng-container matColumnDef="selectedRow">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let contract">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(contract) : null"
                      [checked]="selection.isSelected(contract)"
                      [aria-label]="checkboxLabel(contract)">
        </mat-checkbox>
      </td>
    </ng-container>


    <!-- Resto de las columnas -->
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let contract"> {{ contract[column] }} </td>
    </ng-container>

    <!-- Estructura de las filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let contract; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>


