<div class="form-contract">
  <mat-stepper
    class="flex flex-col start-menu-bg px-20 py-10 border-blue items-center"
  >
    <mat-step label="Datos del contrato">
      <div>
        <div class="boxContainerForm">
          <form class="" action="">
            <p>
              Complete la información del nuevo contrato que desea digitalizar
            </p>
            <br />
            <p>Radicado</p>
            <div class="grid-radicado">
              <div class="radicado">
                <i-lucide name="ScrollText"></i-lucide>
                <h1>5.5-31</h1>
              </div>
              <div>
                .
                <select class="" name="TipoContrato">
                  <option value="1">Tipo 1</option>
                  <option value="2">Tipo 2</option>
                  <option value="3">Tipo 3</option></select
                >&nbsp;/
              </div>
              <div>
                <input
                  type="text"
                  name="NroContrato"
                  style="background-color: transparent"
                  placeholder="Número de Contrato"
                />
              </div>
            </div>
            <br />
            <div class="grid-contratista">
              <div>
                <br />
                ID Contratista
                <input
                  class="form-control"
                  type="text"
                  style="background-color: transparent"
                  name="IDContratista"
                  placeholder="ID Contratista"
                />
              </div>
              <div>
                <br />
                <p>Fecha de Expedición</p>
                <input
                  class="form-control"
                  type="date"
                  style="background-color: transparent"
                  name="fecha"
                  placeholder="Día/Mes/Año"
                />
              </div>

              <div class="grid">
                <br />
                <p>Modalidad</p>
                <select class="form-control" name="modalidad">
                  <option>Modalidad1</option>
                  <option>Modalidad2</option>
                  <option>Modalidad3</option>
                </select>
              </div>
              <div>
                <br />
                <p>Objeto del Contrato</p>
                <textarea
                  name="textarea"
                  rows="6"
                  cols="80"
                  placeholder="Objeto o Finalidad del Contrato"
                ></textarea>
              </div>
              <br />
            </div>
          </form>
        </div>
        <div>
          <button matStepperNext>
            Continuar<i-lucide name="ChevronRight"></i-lucide>
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step label="Subir Documentos">
      <div class="barra">
        <div class="columna">Nombre</div>
        <div class="columna">Tipo de documento</div>
        <div class="columna">Fecha de expedición</div>
      </div>
      <div class="contenedor-acordeon">
        <mat-accordion [multi]="true">
          <mat-expansion-panel class="linea-blanca-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="titulo-acordeon">
                <span class="etiqueta">Etapa precontractual</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <mat-accordion
                [multi]="true"
                class="acordeonEtapaPrecontractual"
                #acordeon
              >
                <mat-expansion-panel
                  class="linea-blanca-panel"
                  [expanded]="acordeonAbierto"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraInvitacion">
                        <span class="etiqueta">Invitación a cotizar</span>
                      </div>
                    </mat-panel-title>
                    <button
                      mat-icon-button
                      color="primary"
                      class="add-button"
                      (click)="$event.stopPropagation(); agregarFila()"
                    >
                      <i-lucide name="FilePlus"></i-lucide>
                    </button>
                  </mat-expansion-panel-header>
                  <mat-panel-description
                    class="acordeonIC"
                    *ngFor="let fila of filas; let i = index"
                  >
                    <mat-panel-title class="lineaDocumentos">
                      <div class="barraDocumentos">
                        <div class="columnaDocs">
                          {{ fila.documento }} {{ i + 1 }}
                        </div>
                        <div class="columnaDocs">{{ fila.invitacion }}</div>
                        <div class="columnaDocs">{{ fila.fecha }}</div>
                        <div class="botones-container">
                          <button
                            class="boton-crear"
                            (click)="abrirVentanaEmergente()"
                          >
                            <i-lucide
                              class="custom-icon"
                              name="FileUp"
                            ></i-lucide>
                          </button>
                          <button
                            class="boton-editar"
                            (click)="abrirVentanaEmergenteEdit()"
                          >
                            <i-lucide name="FileEdit"></i-lucide>
                          </button>
                          <button
                            class="boton-borrar"
                            (click)="openDialog('0ms', '0ms')"
                          >
                            <i-lucide name="FileDown"></i-lucide>
                          </button>
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraEstudiosPrevios">
                        <span class="etiqueta">Estudios previos</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Estudios previos"
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraCertificadoPresupuestal">
                        <span class="etiqueta"
                          >Certificado de disponibilidad presupuestal</span
                        >
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Certificado de disponibilidad
                    presupuestal"
                  </mat-panel-description>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel class="linea-blanca-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="etiqueta">Etapa contractual</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <mat-accordion [multi]="true" class="acordeonEtapaContractual">
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraInvitacion">
                        <span class="etiqueta">Contrato</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Contrato"
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraEstudiosPrevios">
                        <span class="etiqueta">Cronograma</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Cronograma"
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraPoliza">
                        <span class="etiqueta">Poliza</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Poliza"
                  </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel class="linea-blanca-panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="barraRegistroPresupuestal">
                        <span class="etiqueta">Registro Presupuestal</span>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    Contenido del acordeón "Registro Presupuestal"
                  </mat-panel-description>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel class="linea-blanca-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="etiqueta">Etapa postcontractual</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              <mat-accordion
                [multi]="true"
                class="acordeonEtapaPostcontractual"
              >
              </mat-accordion>
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="uniButton">
        <button class="back-button" matStepperPrevious>
          <i-lucide name="ChevronLeft"></i-lucide>Regresar
        </button>
        <button class="next-button" matStepperNext>
          Continuar<i-lucide name="ChevronRight"></i-lucide>
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
