<!-- <button (click)="toggleMenu()" class="btn-Menu"><i class="fa fa-bars" ></i></button> -->
<div class="sidebar"  >

    <div class="PartOne" >
        <mat-accordion class="acordionD">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header >
                <mat-panel-title>
                 <h3>Datos de contractrato</h3>

                </mat-panel-title>

              </mat-expansion-panel-header>
              <mat-list role="list" >
                <mat-list-item role="listitem"><strong>Id</strong><br>{{contract.id}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Referencia:</strong><br>{{contract.reference}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Fecha Inicial:</strong><br>{{contract.initialDate}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Fecha Final:</strong><br>{{contract.finalDate}}</mat-list-item>
                <mat-list-item role="listitem"><strong>Proveedor:</strong><br>{{contract.vendor}}</mat-list-item>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        <mat-accordion class="acordionC">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                <h3>Lista de chequeo</h3>
                <mat-divider></mat-divider>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h4>Documentos Presentes</h4>
              <ul class="ListExisting">
               <li class="grid"><i-lucide name="Check"></i-lucide>documento 1</li>
                <li class="grid"><i-lucide name="Check"></i-lucide>documento 2</li>
                <li class="grid"><i-lucide name="Check"></i-lucide>documento 3</li>

            </ul>
            <h4>Documentos faltantes</h4>
            <ul class="ListMissing">

              <li class="grid"><i-lucide name="X"></i-lucide>documento 1</li>
              <li class="grid"><i-lucide name="X"></i-lucide>documento 2</li>
          </ul>
            </mat-expansion-panel>
          </mat-accordion>
    </div>


</div>
