     <div class="sidebar">
        <div class="grid">
            <div class="logo"><img class="imglogo" src="/assets/img/LogoUni.png" alt="logo" width="90%" height="90%" />
            </div>
            <div class="titleRepo">
                <h3>Repositorio de Contratación</h3>
            </div>
        </div>
        
        <div class="wrapper">
            <ul class="sidebar">
                <li><a class="grid" [routerLink]="['/']"><i-lucide name="home"></i-lucide>
                          Inicio
                    </a></li>
                <li><a class="grid "  [routerLink]="['/searchCont']"><i-lucide name="search"></i-lucide>Busqueda</a></li>
                <li><a class="grid " [routerLink]="['/createCont']"> <i-lucide name="folder-plus"></i-lucide>Nuevo
                        contrato</a>
                </li>
                <li><a class="grid" [routerLink]="['/settingSyst']"><i-lucide name="settings"></i-lucide> Configuracion</a>
                </li>

            </ul>
        </div>

    </div>

   
