<div class="form-contract">
    <div class="boxContainerForm">
        <form class="" action="">
            <p>Complete la información del nuevo contrato que desea digitalizar</p>
            <br>
            <p>Radicado</p>
            <div class="grid-radicado">
                <div>
                    <input class="radicado" type="text" name="NroContrato" style="background-color:transparent"
                        placeholder="Radicado" disabled>
                </div>
            </div>
            <br>
            <div class="grid-contratista">
                <div>
                    <br>
                    ID Contratista
                    <input class="form-control" type="text" style="background-color:transparent" name="IDContratista"
                        placeholder="ID Contratista">
                </div>
                <div>
                    <br>
                    <p>Fecha de Expedición</p>
                    <input class="form-control" type="date" style="background-color:transparent" name="fecha"
                        placeholder="Día/Mes/Año">
                </div>

                <div class="grid">
                    <br>
                    <p>Modalidad</p>
                    <select class="form-control" name="modalidad">
                        <option>Modalidad1</option>
                        <option>Modalidad2</option>
                        <option>Modalidad3</option>
                    </select>
                </div>
                <div>
                    <br>
                    <p>Objeto del Contrato</p>
                    <textarea name="textarea" rows="6" cols="80"
                        placeholder="Objeto o Finalidad del Contrato"></textarea>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>